@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Gugi|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Cabin|Gugi|Open+Sans+Condensed:300');

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
	height: 100%;
	
  
  
}
body {
	height: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	background: #33ffff;
	
}

#nav-bar {
  border-bottom: 1px solid black;
  position: fixed;
	width: 100%;
	z-index: 5;
	background: linear-gradient(to right, #e6ffff, #ccffff, #33ffff, #ccffff, #e6ffff);
}

#nav-bar h2 {
  margin: 15px;
}

main {
  position: relative;
  top: 150px;
}



#title h3 {
  text-align: center;
	letter-spacing: 10px;
}

body h1 {
  font-family: 'Gugi', cursive;
  text-align: center;
	margin: 20px;
	letter-spacing: 10px;
  
}

#news {
  position: relative;
	width: 1000px;
  margin: auto;
	top: 260px;
}

article {

	width: 300px;
  display: inline-block;
	height: 250px;
  margin: 0;
	padding: 0;
	vertical-align: middle;

}

article p {
	 max-height: 185px;
	overflow: hidden;
	
	
}

article h4 {
	text-align: center;
	
}

.article-img {
 	height: 150px;
 	width: 100%;
 	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	 margin: 0;
	
}

div {
	
}




